In [2]:
import funcs
import funcs_python
from matplotlib import pyplot as pl
import pandas as pd

Lendo a Database

In [7]:
df = pd.read_csv("energia_eletrica_consumo.csv", decimal=",", sep=";")
df

,Data,Energia elétrica - consumo - quantidade - GWh - Eletrobras - ELETRO_CEET,Unnamed: 2
0,1952,8513.0,NaN
1,1953,8588.0,NaN
2,1954,9759.0,NaN
3,1955,11289.0,NaN
4,1956,12634.0,NaN
...,...,...,...
65,2017,465039.0,NaN
66,2018,471643.0,NaN
67,2019,480782.0,NaN
68,2020,473944.0,NaN
69,2021,500209.0,NaN

Dropando a coluna com valores nulos

In [13]:
df.pop(df.columns[2])
df

,Data,Energia elétrica - consumo - quantidade - GWh - Eletrobras - ELETRO_CEET
0,1952,8513.0
1,1953,8588.0
2,1954,9759.0
3,1955,11289.0
4,1956,12634.0
...,...,...
65,2017,465039.0
66,2018,471643.0
67,2019,480782.0
68,2020,473944.0
69,2021,500209.0