In [54]:

import pandas as pd
import numpy as np

Lendo a Database

In [55]:
df = pd.read_csv("energia_eletrica_consumo.csv", decimal=",", sep=";")
df

,Data,Energia elétrica - consumo - quantidade - GWh - Eletrobras - ELETRO_CEET,Unnamed: 2
0,1952,8513.0,NaN
1,1953,8588.0,NaN
2,1954,9759.0,NaN
3,1955,11289.0,NaN
4,1956,12634.0,NaN
...,...,...,...
65,2017,465039.0,NaN
66,2018,471643.0,NaN
67,2019,480782.0,NaN
68,2020,473944.0,NaN
69,2021,500209.0,NaN

Dropando a coluna com valores nulos

In [56]:
df.pop(df.columns[2])
df

,Data,Energia elétrica - consumo - quantidade - GWh - Eletrobras - ELETRO_CEET
0,1952,8513.0
1,1953,8588.0
2,1954,9759.0
3,1955,11289.0
4,1956,12634.0
...,...,...
65,2017,465039.0
66,2018,471643.0
67,2019,480782.0
68,2020,473944.0
69,2021,500209.0

Criando uma matriz com X = indices e Y = Energia elétrica

In [57]:
indices = range(df.shape[0])
Y = [float(x) for x in list(df.iloc[:,1])]

M = np.array([indices, Y])
M = M.transpose()
M

array([[0.00000e+00, 8.51300e+03],
       [1.00000e+00, 8.58800e+03],
       [2.00000e+00, 9.75900e+03],
       [3.00000e+00, 1.12890e+04],
       [4.00000e+00, 1.26340e+04],
       [5.00000e+00, 1.40830e+04],
       [6.00000e+00, 1.60770e+04],
       [7.00000e+00, 1.71620e+04],
       [8.00000e+00, 1.83460e+04],
       [9.00000e+00, 1.96300e+04],
       [1.00000e+01, 2.18570e+04],
       [1.10000e+01, 2.26180e+04],
       [1.20000e+01, 2.35210e+04],
       [1.30000e+01, 2.42680e+04],
       [1.40000e+01, 2.64940e+04],
       [1.50000e+01, 2.79880e+04],
       [1.60000e+01, 3.13990e+04],
       [1.70000e+01, 3.45140e+04],
       [1.80000e+01, 3.81520e+04],
       [1.90000e+01, 4.48460e+04],
       [2.00000e+01, 4.98390e+04],
       [2.10000e+01, 5.49280e+04],
       [2.20000e+01, 6.16300e+04],
       [2.30000e+01, 6.81800e+04],
       [2.40000e+01, 7.16349e+04],
       [2.50000e+01, 8.08047e+04],
       [2.60000e+01, 9.00705e+04],
       [2.70000e+01, 1.01146e+05],
       [2.80000e+01, 1.12055e+05],
       [2.90000e+01, 1.15402e+05],
       [3.00000e+01, 1.22805e+05],
       [3.10000e+01, 1.32438e+05],
       [3.20000e+01, 1.48397e+05],
       [3.30000e+01, 1.63015e+05],
       [3.40000e+01, 1.74270e+05],
       [3.50000e+01, 1.79572e+05],
       [3.60000e+01, 1.88597e+05],
       [3.70000e+01, 1.97185e+05],
       [3.80000e+01, 2.00639e+05],
       [3.90000e+01, 2.09408e+05],
       [4.00000e+01, 2.12757e+05],
       [4.10000e+01, 2.20648e+05],
       [4.20000e+01, 2.25925e+05],
       [4.30000e+01, 2.43836e+05],
       [4.40000e+01, 2.57611e+05],
       [4.50000e+01, 2.73281e+05],
       [4.60000e+01, 2.84525e+05],
       [4.70000e+01, 2.92190e+05],
       [4.80000e+01, 3.07530e+05],
       [4.90000e+01, 2.83259e+05],
       [5.00000e+01, 2.89867e+05],
       [5.10000e+01, 3.00992e+05],
       [5.20000e+01, 3.17428e+05],
       [5.30000e+01, 3.35917e+05],
       [5.40000e+01, 3.57974e+05],
       [5.50000e+01, 3.78554e+05],
       [5.60000e+01, 3.92844e+05],
       [5.70000e+01, 3.88611e+05],
       [5.80000e+01, 4.15684e+05],
       [5.90000e+01, 4.33033e+05],
       [6.00000e+01, 4.48134e+05],
       [6.10000e+01, 4.63068e+05],
       [6.20000e+01, 4.73557e+05],
       [6.30000e+01, 4.64600e+05],
       [6.40000e+01, 4.60156e+05],
       [6.50000e+01, 4.65039e+05],
       [6.60000e+01, 4.71643e+05],
       [6.70000e+01, 4.80782e+05],
       [6.80000e+01, 4.73944e+05],
       [6.90000e+01, 5.00209e+05]])

Usando a função criada para encontrar dos coeficientes a e b para a regressão linear da base de dados

In [59]:
import funcs

a, b = funcs.regressaoLinear(M)

TypeError: unsupported operand type(s) for *: 'int' and 'NoneType'